.staffrow {
  display: flex;
  background-color: lightseagreen;
}
.staff-header {
  display: flex;
  flex-direction: row
}

.cell {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 6rem;
  height: 6rem;
  text-align: center;
}


.staff-container {
  display: flex;
  overflow: auto 
}

.sidebar {
  position: sticky;
  background-color: lightgrey
}

.sidebar-section {
  display: flex;
}

.cat-cell {
  background-color: lightblue;
}

div.navbar {
  height: auto;
  background-color: black;
  color: white;
  margin: 2em 0;
  display: flex;
}

div.navbar > a {
  text-decoration: none;
  border-right: 1px solid white;
  padding: 1em;
}

div.navbar > a:first-child {
  border-right: 1px solid white;
}

div.navbar > a:last-child {
  margin-left: auto;
  border-left: 1px solid white;
}

div.navbar > a:visited {
  color: inherit;
}

div.navbar > a:hover {
  background-color: #c2c0bf;
  color: black;
}
