.staffrow {
  display: flex;
  background-color: red;
}

.cell {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 6rem;
  height: 6rem;
  text-align: center;
}

.staff-container {
  display: flex;
}

.sidebar-section {
  display: flex;
}

.cat-cell {
  background-color: blue;
}