@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.staffrow {
  display: flex;
  background-color: lightseagreen;
}
.staff-header {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.cell {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 6rem;
  height: 6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#standardInput {
  max-width: 25%;
  font-weight: bold;
}

/* this needs to be fixed for horizontal only */
.sidebar {
  position: sticky;
  /* position: fixed; */
  background-color: lightgrey
}

.scroll-container {
  /* margin-left: 12rem; */
}

.sidebar-section {
  display: flex;
}

.cat-cell {
  background-color: lightblue;
}

div.navbar {
  height: auto;
  background-color: black;
  color: white;
  display: flex;
}

div.navbar > a {
  text-decoration: none;
  border-right: 1px solid white;
  padding: 1em;
}

div.navbar > a:first-child {
  border-right: 1px solid white;
}

div.navbar > a:last-child {
  margin-left: auto;
  border-left: 1px solid white;
}

div.navbar > a:visited {
  color: inherit;
}

div.navbar > a:hover {
  background-color: #c2c0bf;
  color: black;
}
