div.header {
  border-bottom: 1px solid black;
  display: flex;
}

div.header-sidebar {
  width: 10%;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.header-mainbar {
  width: 90%;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.header-mainbar button {
  cursor: pointer;
}
