div.rosters-cells {
  color: #02026e;
  background: linear-gradient(315deg, #c7cccb, #eef2ef);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
  padding: 2em 1em;
  margin: 1em 0 0 2em;
}

div.days-header {
  display: flex;
}

div.days-column {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
}

div.days-column > div {
  width: 12%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

div.days-column > div:first-child {
  width: 16%;
}

div.shifts-main > div.shift-row:last-child > div.shifts > div {
  border-bottom: 2px solid #02026e;
}

div.shifts-main > div.shift-row:last-child > div.shifts > div:first-child {
  border-bottom: none;
}
