div.shift-row {
  display: flex;
}

div.shifts {
  width: 100%;
  display: flex;
}

div.shifts > div {
  width: 12%;
  border-top: 0.5px solid grey;
  border-right: 0.5px solid grey;
  display: flex;
  flex-wrap: wrap;
}

div.shifts > div:first-child {
  width: 16%;
  border-top: none;
  display: block;
}

div.shifts > div:first-child > h3 {
  padding-left: 1em;
}

#shift-cell {
  display: flex;
  justify-content: center;
}


